{
  "x-generator": "NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "TbSense.Backend.Server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://tbsense-backend.mfaziz.cloud"
    }
  ],
  "paths": {
    "/api/v1/models/{id}/download": {
      "get": {
        "tags": ["Api", "V1", "Models", "Api"],
        "operationId": "TbSenseBackendEndpointsModelsDownloadModelEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/trees": {
      "post": {
        "tags": ["Api", "V1", "Trees", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreesCreateTreeEndpoint",
        "requestBody": {
          "x-name": "CreateTreeRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreateTreeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "Trees", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreesUpdateTreeEndpoint",
        "requestBody": {
          "x-name": "UpdateTreeRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdateTreeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trees/{id}": {
      "delete": {
        "tags": ["Api", "V1", "Trees", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreesDeleteTreeEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "Trees", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreesGetTreeByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/trees/paginated": {
      "post": {
        "tags": ["Api", "V1", "Trees", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreesGetTreesPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPaginatedResultOfTreeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tree-metrics": {
      "post": {
        "tags": ["Api", "V1", "Tree Metrics", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeMetricsCreateTreeMetricEndpoint",
        "requestBody": {
          "x-name": "CreateTreeMetricRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreateTreeMetricRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeMetricDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "Tree Metrics", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeMetricsUpdateTreeMetricEndpoint",
        "requestBody": {
          "x-name": "UpdateTreeMetricRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdateTreeMetricRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeMetricDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tree-metrics/{id}": {
      "delete": {
        "tags": ["Api", "V1", "Tree Metrics", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeMetricsDeleteTreeMetricEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "Tree Metrics", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeMetricsGetTreeMetricByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeMetricDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tree-metrics/paginated": {
      "post": {
        "tags": ["Api", "V1", "Tree Metrics", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeMetricsGetTreeMetricsPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPaginatedResultOfTreeMetricDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/histogram/air-temperature-distribution": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetAirTemperatureDistributionHistogramEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "binCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfAirTemperatureDistributionHistogramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/area-chart/cumulative-metric-readings": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetCumulativeMetricReadingsAreaChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeCumulativeMetricReadingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/area-chart/cumulative-moisture-deficit": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetCumulativeMoistureDeficitAreaChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfCumulativeMoistureDeficitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/area-chart/cumulative-temperature-exposure": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetCumulativeTemperatureExposureAreaChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfCumulativeTemperatureExposureResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/bar-chart/daily-metrics-comparison": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetDailyMetricsComparisonChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfDailyMetricComparisonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/bar-chart/hourly-average-comparison": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetHourlyAverageComparisonChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfHourlyAverageComparisonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/bar-chart/metric-range-comparison": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetMetricRangeComparisonChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfMetricRangeComparisonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/histogram/soil-moisture-distribution": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetSoilMoistureDistributionHistogramEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "binCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfSoilMoistureDistributionHistogramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/histogram/soil-temperature-distribution": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetSoilTemperatureDistributionHistogramEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "binCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfSoilTemperatureDistributionHistogramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/area-chart/stacked-metrics-by-type": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetStackedMetricsByTypeAreaChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeStackedMetricsByTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/basic": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetTreeBasicInfoEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeBasicInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/current-metrics": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetTreeCurrentMetricsEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeCurrentMetricsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/environmental-averages": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetTreeEnvironmentalAveragesEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeEnvironmentalAveragesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/timeseries/environmental": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetTreeEnvironmentalTimeseriesEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeEnvironmentalTimeseriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/chart/metric-ranges": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetTreeMetricRangesChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "metricType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfMetricRangesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/chart/reading-distribution": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetTreeReadingDistributionChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfReadingDistributionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/trees/{treeId}/bar-chart/weekly-metrics-comparison": {
      "get": {
        "tags": ["Api", "V1", "Tree Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsTreeDashboardGetWeeklyMetricsComparisonChartEndpoint",
        "parameters": [
          {
            "name": "treeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "weeks",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfWeeklyMetricComparisonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/system-prompts": {
      "post": {
        "tags": ["Api", "V1", "System Prompts", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsSystemPromptsCreateSystemPromptEndpoint",
        "requestBody": {
          "x-name": "CreateSystemPromptRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreateSystemPromptRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfSystemPromptDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "System Prompts", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsSystemPromptsUpdateSystemPromptEndpoint",
        "requestBody": {
          "x-name": "UpdateSystemPromptRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdateSystemPromptRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfSystemPromptDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/system-prompts/{id}": {
      "delete": {
        "tags": ["Api", "V1", "System Prompts", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsSystemPromptsDeleteSystemPromptEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "System Prompts", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsSystemPromptsGetSystemPromptByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfSystemPromptDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/system-prompts/paginated": {
      "post": {
        "tags": ["Api", "V1", "System Prompts", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsSystemPromptsGetSystemPromptsPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPaginatedResultOfSystemPromptDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-yield-predictions": {
      "post": {
        "tags": ["Api", "V1", "Plantation Yield Predictions", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationYieldPredictionsCreatePlantationYieldPredictionEndpoint",
        "requestBody": {
          "x-name": "CreatePlantationYieldPredictionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreatePlantationYieldPredictionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationYieldPredictionDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "Plantation Yield Predictions", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationYieldPredictionsUpdatePlantationYieldPredictionEndpoint",
        "requestBody": {
          "x-name": "UpdatePlantationYieldPredictionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdatePlantationYieldPredictionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationYieldPredictionDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-yield-predictions/{id}": {
      "delete": {
        "tags": ["Api", "V1", "Plantation Yield Predictions", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationYieldPredictionsDeletePlantationYieldPredictionEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "Plantation Yield Predictions", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationYieldPredictionsGetPlantationYieldPredictionByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationYieldPredictionDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-yield-predictions/paginated": {
      "post": {
        "tags": ["Api", "V1", "Plantation Yield Predictions", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationYieldPredictionsGetPlantationYieldPredictionsPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPaginatedResultOfPlantationYieldPredictionDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantations": {
      "post": {
        "tags": ["Api", "V1", "Plantations", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationsCreatePlantationEndpoint",
        "requestBody": {
          "x-name": "CreatePlantationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreatePlantationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "Plantations", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationsUpdatePlantationEndpoint",
        "requestBody": {
          "x-name": "UpdatePlantationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdatePlantationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantations/{id}": {
      "delete": {
        "tags": ["Api", "V1", "Plantations", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationsDeletePlantationEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "Plantations", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationsGetPlantationByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantations/paginated": {
      "post": {
        "tags": ["Api", "V1", "Plantations", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationsGetPlantationsPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPaginatedResultOfPlantationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantations/{id}/yield-prediction": {
      "get": {
        "tags": ["Api", "V1", "Plantations", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationsGetPlantationYieldPredictionEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfDoubleOf"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-harvests": {
      "post": {
        "tags": ["Api", "V1", "Plantation Harvests", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationHarvestsCreatePlantationHarvestEndpoint",
        "requestBody": {
          "x-name": "CreatePlantationHarvestRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreatePlantationHarvestRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationHarvestDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "Plantation Harvests", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationHarvestsUpdatePlantationHarvestEndpoint",
        "requestBody": {
          "x-name": "UpdatePlantationHarvestRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdatePlantationHarvestRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationHarvestDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-harvests/{id}": {
      "delete": {
        "tags": ["Api", "V1", "Plantation Harvests", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationHarvestsDeletePlantationHarvestEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "Plantation Harvests", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationHarvestsGetPlantationHarvestByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationHarvestDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-harvests/paginated": {
      "post": {
        "tags": ["Api", "V1", "Plantation Harvests", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationHarvestsGetPlantationHarvestsPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPaginatedResultOfPlantationHarvestDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/histogram/air-temperature-distribution": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetAirTemperatureDistributionHistogramEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "binCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfAirTemperatureDistributionHistogramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/area-chart/cumulative-harvest-count": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetCumulativeHarvestCountAreaChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationCumulativeHarvestCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/area-chart/cumulative-harvest-yield": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetCumulativeHarvestYieldAreaChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationCumulativeHarvestYieldResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/area-chart/cumulative-metric-readings": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetCumulativeMetricReadingsAreaChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfCumulativeMetricReadingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/bar-chart/monthly-harvest-comparison": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetMonthlyHarvestComparisonChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfMonthlyHarvestComparisonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/summary/basic": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationBasicSummaryEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationBasicSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/timeseries/environmental": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationEnvironmentalTimeseriesEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationEnvironmentalTimeseriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/chart/environmental-zones": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationEnvironmentalZonesChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfEnvironmentalZonesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/chart/harvest-by-month": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationHarvestByMonthChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfMonthlyHarvestDistributionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/harvest": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationHarvestSummaryEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationHarvestSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/timeseries/harvest": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationHarvestTimeseriesEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationHarvestTimeseriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/ranking": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationRankingEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationRankingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/chart/tree-activity": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationTreeActivityChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationTreeActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/timeseries/trees": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationTreeGrowthTimeseriesEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationTreeGrowthTimeseriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/summary/trees": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetPlantationTreesSummaryEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationTreesSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/histogram/soil-moisture-distribution": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetSoilMoistureDistributionHistogramEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "binCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfSoilMoistureDistributionHistogramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/histogram/soil-temperature-distribution": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetSoilTemperatureDistributionHistogramEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "binCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfSoilTemperatureDistributionHistogramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/area-chart/stacked-metrics-by-type": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetStackedMetricsByTypeAreaChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfStackedMetricsByTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/bar-chart/top-trees-by-metric": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetTopTreesByMetricChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "metricType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTopTreeByMetricResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/bar-chart/tree-activity-trend": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetTreeActivityTrendChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfMonthlyTreeActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/histogram/tree-age-distribution": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetTreeAgeDistributionHistogramEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "binCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeAgeDistributionHistogramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/area-chart/tree-monitoring-adoption": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetTreeMonitoringAdoptionAreaChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeMonitoringAdoptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/bar-chart/trees-by-zone": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetTreesByZoneChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreesByZoneComparisonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/histogram/tree-yield-distribution": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetTreeYieldDistributionHistogramEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "binCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTreeYieldDistributionHistogramResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard/plantations/{plantationId}/bar-chart/weekly-harvest-performance": {
      "get": {
        "tags": ["Api", "V1", "Plantation Dashboard", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationDashboardGetWeeklyHarvestPerformanceChartEndpoint",
        "parameters": [
          {
            "name": "plantationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "weeks",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfWeeklyHarvestPerformanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-coordinates": {
      "post": {
        "tags": ["Api", "V1", "Plantation Coordinates", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationCoordinatesCreatePlantationCoordinateEndpoint",
        "requestBody": {
          "x-name": "CreatePlantationCoordinateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreatePlantationCoordinateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationCoordinateDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "Plantation Coordinates", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationCoordinatesUpdatePlantationCoordinateEndpoint",
        "requestBody": {
          "x-name": "UpdatePlantationCoordinateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdatePlantationCoordinateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationCoordinateDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-coordinates/{id}": {
      "delete": {
        "tags": ["Api", "V1", "Plantation Coordinates", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationCoordinatesDeletePlantationCoordinateEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "Plantation Coordinates", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationCoordinatesGetPlantationCoordinateByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPlantationCoordinateDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plantation-coordinates/paginated": {
      "post": {
        "tags": ["Api", "V1", "Plantation Coordinates", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsPlantationCoordinatesGetPlantationCoordinatesPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPaginatedResultOfPlantationCoordinateDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/{modelId}/training-complete": {
      "post": {
        "tags": ["Api", "V1", "Models", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsModelsCompleteTrainingEndpoint",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "CompleteTrainingRequest",
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendEndpointsModelsCompleteTrainingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models": {
      "post": {
        "tags": ["Api", "V1", "Models", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsModelsCreateModelEndpoint",
        "requestBody": {
          "x-name": "CreateModelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreateModelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfModelDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "Models", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsModelsUpdateModelEndpoint",
        "requestBody": {
          "x-name": "UpdateModelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdateModelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfModelDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/{id}": {
      "delete": {
        "tags": ["Api", "V1", "Models", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsModelsDeleteModelEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "Models", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsModelsGetModelByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfModelDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/paginated": {
      "post": {
        "tags": ["Api", "V1", "Models", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsModelsGetModelsPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfPaginatedResultOfModelDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/train": {
      "post": {
        "tags": ["Api", "V1", "Models", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsModelsTrainModelEndpoint",
        "requestBody": {
          "x-name": "TrainModelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsTrainModelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfTrainModelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/knowledge-bases": {
      "post": {
        "tags": ["Api", "V1", "Knowledge Bases", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsKnowledgeBasesCreateKnowledgeBaseEndpoint",
        "requestBody": {
          "x-name": "CreateKnowledgeBaseRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsCreateKnowledgeBaseRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfKnowledgeBaseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Api", "V1", "Knowledge Bases", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsKnowledgeBasesUpdateKnowledgeBaseEndpoint",
        "requestBody": {
          "x-name": "UpdateKnowledgeBaseRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TbSenseBackendAbstractionModelsUpdateKnowledgeBaseRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfKnowledgeBaseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/knowledge-bases/{id}": {
      "delete": {
        "tags": ["Api", "V1", "Knowledge Bases", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsKnowledgeBasesDeleteKnowledgeBaseEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Api", "V1", "Knowledge Bases", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsKnowledgeBasesGetKnowledgeBaseByIdEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasLazuAspNetFrameworkEndpointModelsSuccessResponseOfKnowledgeBaseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/knowledge-bases/paginated": {
      "post": {
        "tags": ["Api", "V1", "Knowledge Bases", "Api"],
        "operationId": "TbSenseBackendEndpointsEndpointsKnowledgeBasesGetKnowledgeBasesPaginatedEndpoint",
        "requestBody": {
          "x-name": "PaginationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MasLazuAspNetFrameworkApplicationModelsPaginationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
[...]
